<!doctype html>
<html lang="en">
    <head>
        <title>Jam Jar Paisley</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        {{{_sections.head}}}
    </head>
    <body>
        <header>
            <img src="/img/JJLogo.png" alt="Jam Jar Logo">
        </header>
        {{{body}}}
        {{{_sections.scripts}}}
    </body>
</html>