<!doctype html>
<html>
    <head>
        <title>Jam Jar Paisley</title>
        {{{_sections.head}}}
    </head>
    <body>
        <header>
            <img src="/img/JJLogo.png" alt="Jam Jar Logo">
        </header>
        {{{body}}}
        {{{_sections.scripts}}}
    </body>
</html>