<h1>Welcome to Jam Jar</h1>
<h2>Home</h2>
{{> weather}}
{{#if dayQuote}}
<p>Day Quote: </p>
<blockquote>{{dayQuote}}</blockquote>
{{/if}}
<p class="test1">Questions? Checkout out our
  <a href="/about" class="test2" testid="about">About Us</a> page!
</p>